/* Esses são comandos necessários pra inicializar o tailwind. */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Aqui configurações CSS básicas para o root (que está em index.html, que é o arquivo a ser renderizado como contato direto com o navegador */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100hz
}

@font-face {
  font-family: 'TenorSans';
  src: url('../assets/fonts/TenorSans-Regular.ttf');
}


/* abaixo vou deixar pra que fique registrado uma forma de uso de classe criada. Se tornaram inuteis
 quando as passei para uso direto no arquivo das páginas de login e de registro.

.bg-register{
  background-image: url('/assets/bgreg.jpg');
}
.bg-login{
  background-image: url('/assets/bglogin.jpg');
}

*/